
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    font-weight: 400px;
}

/* barra de navegacion */

.nav-chico {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    padding: 0px;
    height: 25px;
}

header .nav-chico div h3 {
    margin-left: 90px;
}

.idiomas {
    display: flex;
    font-family: 'Roboto','sans serif';
    font-weight: 400;
}

.idiomas li {
    margin: 5px 10px;
    text-align: center;
}

.ofertas li {
    display: flex;
    list-style-type: none;
}

#menu {
    visibility: hidden;
}

.nav-bar {
    background-color: #F0A83E;
    height: 60px;
    color: #FFFFFF;
}

.nav-bar-list {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

/* banner */

.cartel h2 {
    background-color: #FFFFFF;
    color: black;
    padding: 10px;
    font-size: 50px;
    text-align: center;
    margin-right: 15px;
    border-radius: 5px;
}


.categorias {
    padding: 0px 15px 0px 10px;
    margin: 4px 4px 4px;
    display: flex;
    text-align: center;
    
}

.categorias li {
    padding: 5px 30px 40px 5px;
    margin: -10px;
    font-size: 25px;
}

.front {
    font-size: 25px;
    font-family: 'Roboto','sans serif';
}

.front span {
    color: #3C2313;
}

/* main */

h1 {
    font-size: 50px;
    text-align: center;
    font-weight: 700;
}

.banner {
    background-image: url('../img/Comida\ 2.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 600px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;
}

.comederos {
    left: 450px;
    background-color: rgb(240, 168, 62);
    color: rgb(255, 255, 255);
    border: none;
    margin-right: 250px;
    padding: 15px;
    font-size: 25px;
}


.banner h3 {
    margin-right: 150px;
    padding: 10px;
    font-size: 25px;
    text-align: center;
}

.contenedor-comederos {
    display: flex;
    justify-content: center;
    padding: 10px;
}

div h2 {
    display: flex;
    font-size: 30px;
    font-weight: 30px;
    justify-content: center;
}

.patas {
    display: flex;
    justify-content: center;
}

#logo-patas {
    width: 120px;
    height: 120px;
    margin: 20px;
}

/* Productos */

.precio {
    color: #F0A83E;
}

.accesorios {
    display: flex;
    justify-content: center;
}

.accesorios li {
    padding: 10px;
    color: #666666;
}

.productos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
} 

.productos-individuales {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productos-individuales img {
    width: 100%;
    height: 100%;
    margin-bottom: 5px;
}



/* formulario */

.container-formulario {
    margin: 20px;
    padding: 20px;
}

.container-formulario h3 {
    display: flex;
    justify-content: center;
    font-size: 35px;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario li {
    margin: 10px;
    width: 25%;
}



.formulario li input {
    background-color: #3C2313;
    border-radius: 15px;
    height: 30px;
    width: 100%;
    color: #FFFFFF;
    align-items: center;
}

::placeholder {
    /* modern browser */
    color: #FFFFFF;
    padding-left: 10px;
}

.button {
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 10px;
}

div button {
    margin-left: 10px;
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
    padding: 10px;
}

#resetear {
    background-color: #8A8787;
}

#enviar {
    background-color: #F0A83E;
}
/* Suscribete */

.container-suscribete {
    display: flex;
    justify-content: space-between;
    background-color: #F0A83E;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}


.suscribete p {
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-size: 20px;
}

.suscribete p span {
    margin-left: 10px;
}

.suscribete-form {
    display: flex;
    align-items: center;
    margin: 10px 30px 10px 0px;
}

#suscribirme {
    background-color: #3C2313;
    height: 40px;
    width: 100px;
    text-align: center;
    border: none;
}

.mail {
    border-radius: 15px;
    width: 300px;
    height: 40px;
    border: none;
}

/* informacion */

.informacion {
    background-color: #3C2313;
    color: #FFFFFF;
    height: 350px;
    display: flex;
    justify-content: space-between;

}

.informacion-contato {
    display: flex;
    align-items: center;
    padding: 20px;
    margin: 10px;
}

.informacion-icono {
    margin-right: 10px;
}

.informacion-actualidad {
    margin-bottom: 10px;
    font-size: 20px;
    text-align: center;
}

.informacion-cambiar {
    font-size: 13px;
    color: #8A8787;
}

.informacion-front {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 55px;
    font-size: 30px;
}

.informacion-front span {
    color: #F0A83E;
}

#footer {
    background-color: #222222;
    color: #FFFFFF;
    text-align: center;
}

@media screen and (max-width: 480px) {
   
    * {
        margin: 0;
    }

   body {
    width: 100vw;
    padding: 0;
    margin: 0;
   }

   .nav-bar {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
   }

   .categorias {
    display: none;
   }

   .banner {
    width: 100vw;
    align-items: center;
   }

   .comederos {
    justify-content: center;
    align-items: center;
   }

   .banner h3 {
    align-items: center;
    justify-content: center;
    margin: 0px;
   }


   #menu img {
    visibility: visible;
    margin-right: 10px;
   }
   
   .comederos {
    margin: 0px;
   }
   
    .nav-chico {
        display: none;
}

    .suscribete-form div input{
        width: 90%;
    }

    .suscribete p span {
        display: none;
    }

    .container-suscribete {
        justify-content: center;
    }


    .formulario li input {
        background-color: #3C2313;
        border-radius: 15px;
        height: 30px;
        width: 100%;
        color: #FFFFFF;
    }

    .informacion {
        display: flex;
        flex-direction: column-reverse;
        height: 70%;
        padding: 10px;
    }

    .cartel h2 {
        font-size: 2rem;
    }

    .cartel {
        justify-content: center;
        align-items: center;
    }
}


@media screen and (max-width: 780px) {
    * {
        margin: 0;
    }

   body {
    width: 100vw;
    padding: 0;
    margin: 0;
   }

   .nav-bar {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
   }

   .categorias {
    display: none;
   }

   .banner {
    width: 100vw;
    align-items: center;
    background-size: auto;
   }

   .comederos {
    justify-content: center;
    align-items: center;
   }

   .banner h3 {
    align-items: center;
    justify-content: center;
    margin: 0px;
   }

   #menu img {
    visibility: visible;
    margin-right: 10px;
   }
   
   .comederos {
    margin: 0px;
   }
   
    .nav-chico {
        display: none;
}

    .suscribete-form div input{
        margin: 10px;
    }

    .suscribete p span {
        display: none;
    }

    .container-suscribete {
        justify-content: center;
    }

    .formulario li {
        margin: 10px;
        width: 50%;
    }

    .informacion {
        display: flex;
        flex-direction: column-reverse;
        height: 70%;
        padding: 10px;
    }

}
     
 
